/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include "../dts_common/nrf54h20_cpurad.dtsi"

/* Partition sizes are defined in memlayout.dtsi:
 * - cpurad_slot0_partition: 128KB bootloader @ 0x40000
 * - cpurad_app_partition: 1496KB application @ 0x60000
 */

/{
	chosen{
		zephyr,code-partition = &cpurad_app_partition;
	};
};
