#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "rad boot config"

config RAD_BOOT
	bool
    prompt "radio boot enable"
endmenu

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
source "share/sysbuild/Kconfig"